# Local shell history
.zsh_history


# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
dist/
build/
out/
.next/
.vercel/

# Caches
.cache/
.parcel-cache/
.turbo/
.eslintcache

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript
*.tsbuildinfo

# OS & editor files
.DS_Store
.idea/
.vscode/
*.swp

# Archives
*.tgz


